#main-content, .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

.preview_wrapper {
    height: calc(100vh - 133px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
}

.wrapper_shape {
    position: relative;
    margin: 0;
    padding: 0;
}

.wrapper_shape.vertical {
    max-width: 66.59%;
    max-height: 84%;
    aspect-ratio: 3/4;
    transform: scale(0.8);
    transition: all .5s ease-in-out;
}

.bg_frame {
    position: absolute;
    width: 108%;
    height: 106%;
    left: -4%;
    top: -3%;
    z-index: -1;
}
.bg_frame img {
    width: 100%;
    height: 100%;
}

/* .bg_frame::after {
    content: "";
    position: absolute;
    border: 1px solid green;
    width: 110%;
    height: 108%;
    left: -5%;
    top: -4%;
    background-image: var(--bg-image-url, url('/assets/images/none.png'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99999999;
} */


.wrapper_shape.horizontal {
    max-width: 81.710%;
    max-height: 57%;
    aspect-ratio: 4/3;
    transform: scale(0.82);
    transition: all .5s ease-in-out;
    /*0.65,0.82,0.87,1 */
}

.wrapper_shape.square {
    max-width: 66.59%;
    max-height: 66.59%;
    aspect-ratio: 1/1;
    transform: scale(0.82);
    transition: all .5s ease-in-out;
    /*0.65,0.82 */
}

@media(max-width: 819px) {

    .wrapper_shape.vertical,
    .wrapper_shape.horizontal,
    .wrapper_shape.square {
        transform: scale(1);
    }

    .wrapper_shape.vertical {
        max-width: 90%;
    }
}

@media(min-width: 820px) {
    .preview_wrapper {
        height: 100vh;
        margin-top: unset;
    }
}  

.product_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: rgb(0, 0, 0);
}

.product {
    height: 100%;
    position: relative;
}

.classic,
.poet,
.astronomer,
.aquarelles,
.romantic,
.modern,
.photographer,
.explorer{
    position: absolute;
    width: 92%;
    height: 94%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
}

.astronomer .map_wrapper {
    position: relative;
}

.photographer,
.explorer {
    border: 0;
}
.photographer .astronomer_heading,
.explorer .astronomer_heading {
    height: 0;
}

.explorer .wrapper_message {
    background-color: #000000;
    width: 100%;
}



.map_wrapper {position: relative;}

.vertical .map_wrapper {
    width: 90%;
    aspect-ratio: 1/1;
}
.horizontal .map_wrapper {
    width: 55%;
    aspect-ratio: 1/1;
}

.square .map_wrapper {
    width: 70%;
    aspect-ratio: 1/1;
}

.vertical .photographer .map_wrapper,
.horizontal .photographer .map_wrapper,
.square .photographer .map_wrapper,
.vertical .explorer .map_wrapper,
.horizontal .explorer .map_wrapper,
.square .explorer .map_wrapper{
    width: 100%;
    aspect-ratio: 1/1.2;
    /* background-color: rgb(204, 201, 201); */
    margin-bottom: 1rem;
}

.explorer .map_wrapper{
    margin-bottom: unset !important;
}

.map_wrapper.shape_style {
    border-radius: 50%;
    border: 1px solid white;
}

.astronomer .map_wrapper.shape_style,
.aquarelles .map_wrapper.shape_style,
.romantic .map_wrapper.shape_style,
.photographer .map_wrapper.shape_style,
.explorer .map_wrapper.shape_style {
    border: 0px;
    border-radius: 0;
    background-position: center center;
    background-size: cover;
}
.modern {
    border: 0px;
    background-color: #1D1D1D;
}
.modern .map_wrapper.shape_style {
    border: 0;
    background-color: black;
}

.astronomer .map_wrapper.shape_style {
    background-image: url('/astro.svg');
}
.aquarelles .map_wrapper.shape_style {
    background-image: url('/assets/svg/aquarelles.png');
}
.romantic .map_wrapper.shape_style {
    background-image: url('/heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.photographer .map_wrapper.shape_style {
    background-image: url('/Capture.PNG');
}

.explorer .map_wrapper.shape_style {
    background-image: url('/Capture.PNG');
}

.photographer .shape_style,
.explorer .shape_style {
    border: 0;
    border-radius: 0px;
}

.wrapper_message {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.astronomer_heading {
    visibility: hidden;
}

.astronomer .wrapper_message {
    flex-grow: unset;
}

.astronomer .astronomer_heading {
    visibility: visible;
}
.astronomer .wrapper_message .message_heading {
    height: 0;
    visibility: hidden;
}

.photographer .wrapper_message {
    background-color: white;
    width: 100%;
}

.photographer .astronomer_heading {
    height: 0;
}

.classic .wrapper_message {
    justify-content: center;
}

.poet .wrapper_message,
.aquarelles .wrapper_message,
.romantic .wrapper_message {
    justify-content: space-around;
}

.modern .wrapper_message {
    justify-content: center;
}



.photographer .wrapper_message {
    justify-content: space-around;
}


.message_heading {
    font-weight: 500;
    text-transform: uppercase;
}
.message_heading h1,
.message_heading h2
.message_heading h3,
.message_heading h4,
.message_heading h5,
.message_heading h6 {
    font-size: 9px;
    color: white;
}

.message_desc>small {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message_desc small span {
    color: white;
    font-weight: 400;
    font-size: 8px;
}

.photographer .message_desc small span,
.photographer .message_heading h5,
.aquarelles .message_desc small span,
.aquarelles .message_heading h5{
    color: black;
}

@media(min-width: 820px) {
    .message_heading h1,
    .message_heading h2,
    .message_heading h3,
    .message_heading h4,
    .message_heading h5,
    .message_heading h6 {
        font-size: 1rem;
    }
    .message_desc small span {
        font-size: .7rem;
    }
}