#left-sidebar {
    height: 100vh;
    width: 100%;
}

#left-sidebar hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.navbar-fixed-top {
    width: 100%;
    left: 0px;
}

#main-content {
    background-color: #E0E0E0;
    height: 100vh;
}

.header_top {
    display: flex;
    width: 100%;
}

/* .menu_text,
.navbar-fixed-top .navbar-btn {
    display: block !important;
} */

.nav-link {
    padding: 0.5rem 0.5rem;
    font-size: 12px;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
}

.fixed_bottom {
    position: fixed;
    left: 5px;
    bottom: 3px;
    width: calc(100% - 10px);
    background-color: #ffff;
    border-top: 1px solid #dddd;
    z-index: 100000;
}

.list_menu {
    display: flex;
}



@media (min-width: 100px) {
    #left-sidebar {
        left: -100%;
    }
}

@media (min-width: 820px) {

    .navbar-fixed-top .navbar-btn {
        display: none !important;
    }

    .nav-link {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }
    .list_menu {
        display: none;
    }

    .navbar-fixed-top {
        width: calc(100% - 67.2%);
    }

    .fixed_bottom {
        width: calc(100% - 67.2% - 5px);
        bottom: 5px;
    }

    #left-sidebar {
        width: calc(100% - 67.2%);
        height: 100vh !important;
        left: unset;
    }

    #main-content {
        width: 67.2%;
    }

}

.nav-tabs {
    border: none !important;
}

.nav-link {
    font-weight: 400 !important;
    position: relative;
    /* border: none !important; */
}
.nav-link.active {
    border-bottom: 2px solid #49C5B6 !important;
    background-color: #49c5b77e !important;
}

.nav-link.active span {
    color: black;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_img, .nav_toggle {
    position: relative;
    width: 30px;
    height: 30px;
}
.nav_img img, .nav_toggle .toggle {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
    background-color: #333;
    width: 22px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2.5px;
    transition: all .4s;
}

.rotate .bar1 {transform: translate(0, 7px) rotate(-45deg);}
.rotate .bar2 {opacity: 0;}
.rotate .bar3 {transform: translate(0, -7px) rotate(45deg);}


.image_select_wrapper,
.color_select_wrapper,
.font_select_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.image_select_wrapper,
.color_select_wrapper,
.font_select_wrapper .name {
    text-transform: capitalize;
}


.image_select_wrapper .image_select,
.color_select_wrapper .color_select,
.font_select_wrapper .font_select {
    max-width: 20%;
    min-width: 20%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 0;
    cursor: pointer;
    padding: 5px;
}

.image_select_wrapper .image_select .image,
.color_select_wrapper .color_select .image,
.font_select_wrapper .font_select .font_text {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 0;
    border: 2px solid #e9e9e9;
    transition: all .15s;
    border-radius: 2px;
    padding-top: 125%;
}

.image_select_wrapper .image_select .image>img,
.color_select_wrapper .color_select .image> .color {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;
    padding: 0;
}
.color_select_wrapper .color_select .image> .color {
    background-color: unset;
}

.image_select_wrapper .image_select .name,
.color_select_wrapper .color_select .name,
.font_select_wrapper .font_select .name,
.image_select_wrapper .image_select .price {
    display: block;
    margin-top: 5px;
    font-size: .7rem;
}

.font_select_wrapper .font_select .font_text:before {
    content: "Abc";
    font-size: 22px;
    font-family: var(--font-style);
    background-color: #fff;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_select_wrapper .image_select .price {
    margin-top: 10px;
    font-weight: 700;
}

.image_select_wrapper.print_layout .image,
.image_select_wrapper.print_size .image,
.image_select_wrapper.star_map_elements .image,
.color_select_wrapper .color_select .image,
.image_select_wrapper.border_type .image {
    position: relative;
    display: block;
    padding-top: calc(100% - 2px);
    overflow: hidden;
    line-height: 0;
    border-radius: 50%;
    border: 2px solid #49c5b744;
    transition: all .15s;
}

.font_select_wrapper .font_select .font_text {
    padding-top: calc(100% - 2px);
    overflow: hidden;
    line-height: 0;
    border-radius: 50%;
    border: 2px solid #49c5b744;
    transition: all .15s;
}

.image_select_wrapper .image_select.selected .image,
.image_select_wrapper .image_select:hover .image,
.color_select_wrapper .color_select.selected .image,
.color_select_wrapper .color_select:hover .image,
.font_select_wrapper .font_select.selected .font_text,
.font_select_wrapper .font_select:hover .font_text {
    border-color: #49C5B6;
    box-shadow: 0 1px 10px rgba(34,34,34,.25);
}

.image_select_wrapper.print_layout .image img,
.image_select_wrapper.border_type .image img,
.image_select_wrapper.print_size .image img,
.image_select_wrapper.star_map_elements .image img {
    padding: 8px;
}

.image_select_wrapper.star_map_elements .image_select {
    margin-bottom: 10px;
}

.alert-warning,
.alert-success {
    position: relative;
} 

.alert-warning::before,
.alert-success::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    transform: scale(1);
    animation: pulse 2s infinite;
}

.alert-warning::before {
    background: #d8b869;
    box-shadow: 0 0 0 0 #d8b869;
}

.alert-success::before {
    background: #2ECC40;
    box-shadow: 0 0 0 0 #52c41a;
}

@keyframes pulse {
    0% {
        transform: scale(.95)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px transparent
    }

    to {
        transform: scale(.95);
        box-shadow: 0 0 0 0 transparent
    }
}

.cus_toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #49C5B6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #49C5B6;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(12px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }